

    .hero-image{
       background-image: url(/assets/home.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 500px;
        width: 60%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-left: 15rem;
        margin-bottom: 4rem;
        opacity: 75%;
    } // closes hero img
    .hero-text {
        font-size: 4rem;;
        text-align: center;
        position: absolute;
        top: 25%;
        color: white;
      } // closes hero-text
 

    .artists-container{
        display: flex;
        justify-content: space-around;
        align-content: center;
        text-align: center;
        padding: 4rem;
        margin: 4rem;
        font-size: 1.5rem;
        border-top: solid 1px darkslategrey;
    } //closes section artist container

    .artist {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        width: 350px;

        img.bioimg {
            display: flex;
            justify-content: space-around;
            width: 350px;
            height: 250px;
            border-radius: 2%;
        }//closes IMG tag

            a{
                display: flex;
                color: black;
                text-align: center;
                align-content: center;
                text-decoration: none;
                font-size: 25px;
            } //closes anchor tag
            .arttext {
                display: flex;
                justify-content: center;
                align-content: center;
                text-align: center;
            }
        } // closes artist 
        .bio{
            display: flex;
            justify-content: center;
            align-content: center;
            text-align: center;
        } // closes bio

