

        .hero-image{
            background-image: url(/assets/home.png);
            display: flex;
            justify-content: center;
            align-content: center;
            height: 500px;
            width: 60%;
         @media @screen {
            height: 350px;
            width: 90%;
            display: flex;
            align-content:center;
            justify-content: center;
            }// closes MQ
        } // closes hero img
    // }
    .hero-text {
        font-size: 4rem;;
        text-align: center;
        color: white;
      } // closes hero-text
 

    .artists-container{
        display: flex;
        justify-content: space-around;
        align-content: center;
        text-align: center;
        padding: 4rem;
        margin: 4rem;
        font-size: 1.5rem;
        border-top: solid 1px darkslategrey;
        //MQ Begins inside main container
        @media @screen {
            margin: 4rem;
            display: flex;
            flex-direction: column;
            align-content: center;
            } // closes MQ
    } //closes section artist container

    .artist {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        width: 350px;
            @media @screen {
                display: flex;
                flex-direction: column;
                align-content: center;
            }
        img.bioimg {
            display: flex;
            justify-content: space-around;
            width: 350px;
            height: 250px;
            border-radius: 2%;
            @media @screen {
                align-content: center;
                justify-content: center;
                width:250px;
                height: 150px;
            } // Closes MQ
        }//closes IMG tag

            a{
                display: flex;
                color: darkslategrey;
                text-align: center;
                justify-content: center;
                text-decoration: none;
                font-size: 25px;
            } //closes anchor tag
            .arttext {
                display: flex;
                justify-content: center;
                text-align: center;
            }
        } // closes artist 
        .bio{
            display: flex;
            justify-content: center;
            text-align: center;
        } // closes bio

