body {

    h1{
        .flexing();
        }
        .hero{
        position: absolute;
        .flexing();
        flex-direction: column;
            img {
            .flexing();
            font-size: .5rem;
            width: 150px;
            height: 150px;
            margin: 30px;
            }
        }


    section.artists-container{
        .flexing();
        font-size: .5rem;
        .artist {
        font-size: .9rem;
        width: 200px;
        height: 200px;
        }
    }
    button {
        .flexing();
        font-size: .9rem;
        border-radius: 10%;
        .link();
        .bordered();
        } 

}
