
.link {
  color: black;
}
.bordered {
    border-bottom: solid 1px black;
  }

  .bordered2 {
      border-right: solid 1px black;
  }
.flexing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

