.button () {
    color: black;
    background-color: white;
}

.link () {
    color: black;
  }

  .bordered (){
      border-bottom: solid 1px black;
      margin-bottom: 8rem;
    }
  
    .bordered2 (){
        border-right: solid 2px black;
    }

  .flexing () {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
.buttons(@width, @height) {
  @width: 150px;
  @height:150px;
}

    @screen : ~ "(max-width: 500px)";