header {

    nav ul {
        .flexing();
        list-style-type: none;
        a {
        @background-color: 
        color: black;
        .link();
        justify-content: space-evenly;
        padding: 1rem;
        .bordered2();
        }
    }
    @media @screen
}
