
    header {
        margin: 3rem;
        overflow: hidden;
        nav ul {
        .flexing();
        list-style-type: none;
         a {
            .link();
            padding: 1rem;
            justify-content: space-evenly;
            .bordered2();
            font-size: 22px;
            color: darkslategrey;
        } // closes a links
        .noline{
            border: none;
        }
        button{
            .buttons(150px, 150px);
        }
    } // closes nav ul
        @media @screen {
        margin: 4rem;
        } // closes MQ
} // closes header

.hero-image{
    background-image: url(/assets/home.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     height: 500px;
     width: 60%;
     display: flex;
     justify-content: center;
     align-content: center;
     margin-left: 15rem;
     margin-bottom: 4rem;
     opacity: 75%;
 } // closes hero img
 .hero-text {
     font-size: 4rem;;
     text-align: center;
     position: absolute;
     top: 25%;
     color: white;
   } // closes hero-text