
    header {
        margin: 3rem;
        overflow: hidden;
        nav ul {
        .flexing();
        list-style-type: none;
         a {
            .link();
            padding: 1rem;
            justify-content: space-evenly;
            .bordered2();
            font-size: 22px;
            color: darkslategrey;
        } // closes a links
        .noline{
            border: none;
        }
        button{
            .buttons(150px, 150px);
        }
    } // closes nav ul
        @media @screen {
        margin: 4rem;
        } // closes MQ
} // closes header